a { color: #614d42;
}

body { background-color: #FFE8D6;
color: #614d42;
font-family: 'Eagle Lake', cursive;
font-size: 15px;
border: 2px solid #C3B1A7;
margin: 1% 5%; 
}


address, div, header, h2, figure { text-align: center;
}

figcaption { text-align: center;
font-style: italic
}

dt {
	font-weight: bold;
}

dt, dd { margin: 10px 0px;
}

footer { border-top: 2px solid #C3B1A7;
text-align: center;
}

main { padding-left: 50px;
padding-right: 50px; 
}

nav { padding: 10px;
text-align: center;
}

table, th, td {
  border: 1px dashed black;
}

