<header>
	<h1>Quentin Vega - WEB115</h1>
	<nav>
		<a href="https://qvega000.github.io/web115/toc.html" target="_blank">Table of Contents</a> |
		<a href="fizzbuzz0.html" target="blank">Fizz Buzz 0</a> |
		<a href="fizzbuzz1.html" target="blank">Fizz Buzz 1</a> |
		<a href="fizzbuzz2.html" target="blank">Fizz Buzz 2</a> |
		<a href="fizzbuzz3.html" target="blank">Fizz Buzz 3</a> |
		<a href="fizzbuzz4.html" target="blank">Fizz Buzz 4</a> |
	</nav>
	<h1>Trade Template - Fizz Buzz 0</h1>
	<h2 id="greeting">Welcome to Trade Template</h2>
</header>