  <footer>
   <nav>
    <a href="http://students.cpcc.edu/~qvega000/web110/">Webspace</a> | <a href="https://github.com/qvega000">Github</a> | <a href="https://qvega000.github.io">Github Pages</a>
    | <a href="https://qvega000.github.io/web110/">Github Course</a> | <a href="https://www.khanacademy.org/profile/qvega000/">Khanacademy</a> | 
    <a href="https://www.codecademy.com/profiles/quentinVega9240102340">Codecademy</a> | <a href="https://www.freecodecamp.org/qvega000">Freecodecamp</a>
    | <a href="https://jsfiddle.net/user/qvega000/fiddles/">JSFiddles</a> | <a href="https://www.linkedin.com/in/quentin-vega-b885511b1/">Linkedin</a> |
    <a href="https://profile.edx.org/u/qvega000">Edx</a>
	<br>
   </nav>
   Designed by Vega Incorporated &copy;2021
   <br/>
   <br/>
    <a href="https://validator.w3.org/check?uri=" id="validation_link_html"><img src= "../images/html5button.png" alt="Validate HTML!"
		style= "border: 0; width: 88px; height: 31px" /></a> 
	<a href="https://jigsaw.w3.org/css-validator/check/referer?uri=" id="validation_link_css"><img src= "../images/vcss-blue.png" alt="Validate CSS!"
		style= "border: 0; width: 88px; height: 31px" /></a> 

	<script>
		document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
		document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
	</script>
  </footer>