a { color: #8D165F;
}

body { background-color: #EF8354;
color: #004E98;
font-family: 'Anton', sans-serif;
font-size: 15px;
border: 2px solid hsl(360, 25%, 25%);
margin: 1% 5%;
}


address, div, header, h2, figure { text-align: center;
}

figcaption { text-align: center;
font-style: italic
}

li { margin: 5px 0px;
}

footer { border-top: 2px solid #274C77;
text-align: center;
}

main { padding-left: 50px;
padding-right: 50px; 
}

nav { padding: 10px;
text-align: center;
}

table, th, td {
  border: 1px dashed black;
}

ul {
	list-style-type: none;
}

#IntroForm {
	text-align: center;
}
