a { color: #33A1FD;
}

body { background-color: #F79824;
color: hsl(360, 25%, 25%);
font-family: 'Tapestry', cursive;;
font-size: 15px;
border: 2px solid hsl(360, 25%, 25%);
margin: 1% 5%;
}


address, div, header, h2, figure { text-align: center;
}

figcaption { text-align: center;
font-style: italic
}

li { margin: 5px 0px;
}

footer { border-top: 2px solid #33A1FD;
text-align: center;
}

main { padding-left: 50px;
padding-right: 50px; 
}

nav { padding: 10px;
text-align: center;
}

table, th, td {
  border: 1px dashed black;
}

ul {
	list-style-type: none;
}
